
[TIMESTAMP] 1714658886 Thu May  2 16:08:06 2024
[BUILDTIME] 130 (9)
[SIZE] 2.00 MB, 373 files

[DEP] 00-dirtree
[DEP] bash
[DEP] binutils
[DEP] cmake
[DEP] coreutils
[DEP] diffutils
[DEP] findutils
[DEP] gawk
[DEP] git
[DEP] grep
[DEP] kde-extra-cmake-modules
[DEP] linux-header
[DEP] make
[DEP] pkgconfig
[DEP] qt63d
[DEP] qt6base
[DEP] qt6declarative
[DEP] qt6imageformats
[DEP] qt6multimedia
[DEP] qt6quick3d
[DEP] qt6quick3dphysics
[DEP] qt6speech
[DEP] qt6svg
[DEP] qt6tools
[DEP] qt6virtualkeyboard
[DEP] qt6wayland
[DEP] qt6webchannel
[DEP] sed
[DEP] tar
[DEP] tbb
[DEP] vulkan-headers
[DEP] xz
