[COPY] --- T2-COPYRIGHT-BEGIN ---
[COPY] t2/package/*/kconfig/kconfig.desc
[COPY] Copyright (C) 2004 - 2025 The T2 SDE Project
[COPY] Copyright (C) 1998 - 2004 ROCK Linux Project
[COPY] SPDX-License-Identifier: GPL-2.0
[COPY] --- T2-COPYRIGHT-END ---

[I] KDE Frameworks 5 Tier 1 addon with advanced configuration system

[T] KConfig provides an advanced configuration system. It is made of two parts: KConfigCore and KConfigGui.

[U] https://www.kde.org

[A] The KDE-Team
[M] Rene Rebe <rene@t2-project.org>

[C] extra/office extra/desktop/kde

[L] GPL
[S] Stable
[V] 6.11.0
[P] X -----5---9 162.790

[O] . $base/package/*/*/kde-conf.in NO_SANITY_CHECK

[CV-GROUP] kde-frameworks
[D] 5b6543b6d2a1d7ef3aed6f09bc62d0f353591230c7191bb7962fe8d7 kconfig-6.11.0.tar.xz https://download.kde.org/stable/frameworks/6.11/
