57 kconfiggroup.cpp
42 kconfigini.cpp
26 ECMQmLoader-kconfig6_qt.cpp
17 kconfigdata.cpp
13 kconfig.cpp
4 kconfiggroupgui.cpp
4 ksharedconfig.cpp
4 kcoreconfigskeleton.cpp
3 ECMQmLoader-kconfig6_qt.cpp
1 kconfig.cpp
