
[TIMESTAMP] 1707061734 Sun Feb  4 15:48:54 2024
[BUILDTIME] 80 (9)
[SIZE] 1.79 MB, 362 files

[DEP] 00-dirtree
[DEP] bash
[DEP] binutils
[DEP] cmake
[DEP] coreutils
[DEP] diffutils
[DEP] findutils
[DEP] gawk
[DEP] git
[DEP] grep
[DEP] kde-extra-cmake-modules
[DEP] linux-header
[DEP] make
[OPT] openldap
[DEP] qt5base
[DEP] qt5declarative
[DEP] qt5imageformats
[DEP] qt5svg
[DEP] qt5tools
[DEP] qt5virtualkeyboard
[DEP] qt5wayland
[DEP] sed
[DEP] tar
[DEP] tbb
[DEP] xz
