[COPY] --- T2-COPYRIGHT-BEGIN ---
[COPY] t2/package/*/kconfig/kconfig.desc
[COPY] Copyright (C) 2004 - 2026 The T2 SDE Project
[COPY] Copyright (C) 1998 - 2004 ROCK Linux Project
[COPY] SPDX-License-Identifier: GPL-2.0
[COPY] --- T2-COPYRIGHT-END ---

[I] KDE Frameworks addon with advanced configuration system

[T] KConfig provides an advanced configuration system. It is made of two parts: KConfigCore and KConfigGui.

[U] https://www.kde.org

[A] The KDE-Team
[M] René Rebe <rene@exactco.de>

[C] extra/office extra/desktop/kde
[F] CROSS OBJDIR NO-LTO.ia64

[L] GPL
[V] 6.26.0
[P] X ?----5---9 162.790

[CV-GROUP] kde-frameworks
[D] 7aa558eb944bc2012ae97735ee3f076f1b35bc4240eb77c10dd83831 kconfig-6.26.0.tar.xz https://download.kde.org/stable/frameworks/6.26/

. $base/package/*/*/kde-conf.in
