[TIMESTAMP] 1757929237 Mon Sep 15 11:40:37 2025
[BUILDTIME] 490 (9)
[SIZE] 2.47 MB, 382 files

[DEP] 00-dirtree
[DEP] bash
[DEP] binutils
[DEP] cmake
[DEP] coreutils
[DEP] diffutils
[DEP] extra-cmake-modules
[DEP] gawk
[DEP] grep
[DEP] linux-header
[DEP] make
[DEP] pkgconfig
[DEP] qt6base
[DEP] qt6declarative
[DEP] qt6tools
[DEP] sed
[DEP] tar
[DEP] vulkan-headers
[DEP] xorgproto
[DEP] xz
