# yambar config to put in $HOME/.config/yambar/config.yml

# Typical setup, with wifi, ethernet, sound etc for i3/Sway.
# Not perfect so feel free to dig in the manpages and in
# examples/configurations/laptop.conf from the original package.

# For X11/i3, you'll want to replace calls to swaymsg with i3-msg, and
# the sway-xkb module with the xkb module.

# fonts we'll be re-using here and there
awesome: &awesome Font Awesome 5 Free:style=solid:pixelsize=13
awesome_brands: &awesome_brands Font Awesome 5 Brands:pixelsize=15

std_underline: &std_underline {underline: { size: 2, color: ffffffff}}

# This is THE bar configuration
bar:
  height: 26
  location: top
  spacing: 5
  margin: 7

  # Default font
  font: DejaVu Sans:pixelsize=11

  foreground: ffffffff
  background: 111111cc

  left:
    - i3:
        sort: ascending
        anchors: # Not used (directly) by f00bar; used here to avoid duplication
          - sort: ascending
          - string: &i3_common {margin: 3, on-click: "swaymsg --quiet workspace {name}"}
          - string: &default {<<: *i3_common, text: " {name} "}
          - focused: &focused
              deco: {stack: [background: {color: 2980b9ff}, <<: *std_underline]}
          - invisible: &invisible {foreground: ffffff55}
          - urgent: &urgent
              foreground: 000000ff
              deco: {stack: [background: {color: bc2b3fff}, <<: *std_underline]}
        content:
          "":
            map:
              tag: state
              values:
                focused:   {string: {<<: [*default, *focused]}}
                unfocused: {string: {<<: *default}}
                invisible: {string: {<<: [*default, *invisible]}}
                urgent:    {string: {<<: [*default, *urgent]}}
          current:
            map:
              left-margin: 7
              tag: application
              values:
                "": {string: {text: "{title}"}}
              default:
                list:
                  spacing: 0
                  items:
                    - string: {text: "{application}", max: 10, foreground: 2980b9ff}
                    - string: {text: ": "}
                    - string: {text: "{title}", max: 35}

  center:
    - clock:
        time-format: "%H:%M %Z"
        date-format: "%Y-%m-%d"
        foreground: c3c3c3ff
        content:
          - string: {text: , font: *awesome}
          - string: {text: "{date}", right-margin: 5}
          - string: {text: , font: *awesome}
          - string: {text: "{time}"}

  right:
    - removables:
        anchors:
          drive: &drive { text: , font: *awesome}
          optical: &optical {text: , font: *awesome}
        spacing: 5
        content:
          map:
            tag: mounted
            values:
              false:
                map:
                  tag: optical
                  on-click: udisksctl mount -b {device}
                  values:
                    false: [{string: *drive}, {string: {text: "{label}"}}]
                    true: [{string: *optical}, {string: {text: "{label}"}}]
              true:
                map:
                  tag: optical
                  on-click: udisksctl unmount -b {device}
                  values:
                    false:
                      - string: {<<: *drive, deco: *std_underline}
                      - string: {text: "{label}"}
                    true:
                      - string: {<<: *optical, deco: *std_underline}
                      - string: {text: "{label}"}
    - sway-xkb:
        identifiers: [1:1:AT_Translated_Set_2_keyboard]
        foreground: 2ecc71ff
        content:
          - string: {text: , font: *awesome}
          - string: {text: "{layout}"}
    - network:
        name: eth0
        content:
          map:
            tag: carrier
            values:
              false: {empty: {}}
              true:
                map:
                  tag: state
                  deco: {stack: [background: {color: c3c3c3ff}]}
                  values:
                    down:
                      map:
                        tag: ipv4
                        default: {string: {text: , font: *awesome}}
                        values:
                          "": {string: {text: , font: *awesome, foreground: ff0000ff, left-margin: 5, right-margin: 5}}
                    up:
                      map:
                        tag: ipv4
                        default: {string: {text: , font: *awesome}}
                        values:
                          "": {string: {text: , font: *awesome, foreground: 2980b9ff, left-margin: 5, right-margin: 5}}
    - network:
        name: wlan0
        content:
          map:
            tag: state
            deco: {stack: [background: {color: c3c3c3ff}]}
            default: {string: {text: , font: *awesome, foreground: ffffff66, left-margin: 5, right-margin: 5}}
            values:
              down: {string: {text: , font: *awesome, foreground: ff0000ff, left-margin: 5, right-margin: 5}}
              up:
                map:
                  tag: ipv4
                  default: {string: {text: , foreground: 2980b9ff, font: *awesome, left-margin: 5, right-margin: 5}}
                  values:
                    "": {string: {text: , font: *awesome, foreground: ffffff66}}

    - alsa:
        card: hw:PCH
        #card: default
        mixer: Master
        foreground: 000000ff
        content:
          map:
            left-margin: 5
            right-margin: 5
            on-click: /bin/sh -c "amixer -q sset Speaker unmute && amixer -q sset Headphone unmute && amixer -q sset Master toggle"
            tag: muted
            deco: {stack: [background: {color: f1c40fff}]}
            values:
              true: {string: {text: , font: *awesome, foreground: 0f3cf1ff}}
              false:
                ramp:
                  tag: volume
                  items:
                    - string: {text: "{percent} ", font: *awesome}
                    - string: {text: "{percent} ", font: *awesome}
                    - string: {text: "{percent} ", font: *awesome}
                    - string: {text: "{percent} ", font: *awesome}
                    - string: {text: "{percent} ", font: *awesome}
    - label:
        content:
          string:
            on-click: shutdown now
            text: " "
            font: *awesome
