[Desktop Entry]
Version=1.0
Name=Thunderbird
GenericName=Mail Client
Comment=Read and write mail
Keywords=Internet;Mail;MUA
Exec=D_bindir/thunderbird %u
Icon=thunderbird
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupNotify=true
StartupWMClass=thunderbird-default
Categories=Network;Mail;
