[Unit]
After=network.target
Description=OpenSSH Daemon
Documentation=man:sshd(8) man:sshd_config(5)

[Service]
Type=notify-reload
ExecStart=D_sbindir/sshd -D
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
