# T2 Grub2 configuration "header" - the actual images are inserted
# automatically

set timeout 8
set default=0
set fallback=1

set debug=video
insmod efi_gop
insmod efi_uga
insmod font
if loadfont ${prefix}/unicode.pf2 then
	insmod gfxterm
	set gfxmode=auto
	set gfxpayload=keep
	terminal_output gfxterm
fi

#foreground  = FFFFFF
#background  = 666666
#splashimage /boot/t2.xpm.gz
# CUT #

menuentry "Installed OS from HD" {
	chainloader (hd0)+1
}
