[Unit]
Description=ROCK Net network configuration
Wants=network-pre.target
Before=network-pre.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=D_sbindir/rocknet default auto up
ExecStop=D_sbindir/rocknet default auto down
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
