
# T2 udev permissions - based on the udev-057 examples ...

# vc devices (all members of the tty subsystem)
KERNEL="ptmx",		MODE="0666", GROUP="root"
KERNEL="console",	MODE="0600", GROUP="root"
KERNEL="tty",		MODE="0666", GROUP="root"
KERNEL="tty[0-9]*",	GROUP="root"

# misc devices
KERNEL="random",	MODE="0666"
KERNEL="urandom",	MODE="0444"
KERNEL="mem",		MODE="0640"
KERNEL="kmem",		MODE="0640"
KERNEL="port",		MODE="0640"
KERNEL="full",		MODE="0666"
KERNEL="null",		MODE="0666"
KERNEL="zero",		MODE="0666"
KERNEL="inotify",	MODE="0666"
KERNEL="sgi_fetchop",	MODE="0666"

# video devices
SUBSYSTEM="video4linux", GROUP="video"
SUBSYSTEM="dvb",        GROUP="video"
SUBSYSTEM="graphics",   GROUP="video"
SUBSYSTEM="nvidia",     GROUP="video"
SUBSYSTEM="drm",        GROUP="video"

# sound devices
SUBSYSTEM="sound",	GROUP="sound"

KERNEL="js[0-9]*",	MODE="0664"

