[Unit]
Description=Automatic hostname
Before=network-pre.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/lib/hostname

[Install]
WantedBy=multi-user.target
