[TIMESTAMP] 1757930647 Mon Sep 15 12:04:07 2025
[BUILDTIME] 65 (9)
[SIZE] 1.42 MB, 257 files

[DEP] 00-dirtree
[DEP] bash
[DEP] binutils
[DEP] cmake
[DEP] coreutils
[DEP] diffutils
[DEP] extra-cmake-modules
[DEP] gawk
[DEP] gettext
[DEP] grep
[DEP] kcodecs
[DEP] kcolorscheme
[DEP] kconfig
[DEP] kcoreaddons
[DEP] kguiaddons
[DEP] ki18n
[DEP] kwidgetsaddons
[DEP] linux-header
[DEP] make
[DEP] pkgconfig
[DEP] procps
[DEP] qt6base
[DEP] qt6tools
[DEP] sed
[DEP] tar
[DEP] vulkan-headers
[DEP] xorgproto
[DEP] xz
