
[TIMESTAMP] 1713780219 Mon Apr 22 12:03:39 2024
[BUILDTIME] 35 (9)
[SIZE] 1.47 MB, 254 files

[DEP] 00-dirtree
[DEP] bash
[DEP] binutils
[DEP] cmake
[DEP] coreutils
[DEP] diffutils
[DEP] findutils
[DEP] gawk
[DEP] gettext
[DEP] grep
[DEP] kcodecs
[DEP] kcolorscheme
[DEP] kconfig
[DEP] kcoreaddons
[DEP] kde-extra-cmake-modules
[DEP] kguiaddons
[DEP] ki18n
[DEP] kwidgetsaddons
[DEP] linux-header
[DEP] make
[DEP] pkgconfig
[DEP] procps
[DEP] qt63d
[DEP] qt6base
[DEP] qt6declarative
[DEP] qt6imageformats
[DEP] qt6multimedia
[DEP] qt6quick3d
[DEP] qt6speech
[DEP] qt6svg
[DEP] qt6tools
[DEP] qt6wayland
[DEP] sed
[DEP] tar
[DEP] tbb
[DEP] vulkan-headers
[DEP] xz
