
[TIMESTAMP] 1692372174 Fri Aug 18 17:22:54 2023
[BUILDTIME] 20 (9)
[SIZE] 1.75 MB, 266 files

[DEP] 00-dirtree
[DEP] bash
[DEP] binutils
[DEP] cmake
[DEP] coreutils
[DEP] diffutils
[DEP] findutils
[DEP] gawk
[DEP] gettext
[DEP] grep
[DEP] kauth
[DEP] kcodecs
[DEP] kconfig
[DEP] kcoreaddons
[DEP] kde-extra-cmake-modules
[DEP] kguiaddons
[DEP] ki18n
[DEP] kwidgetsaddons
[DEP] linux-header
[DEP] make
[DEP] procps
[DEP] qt5base
[DEP] qt5imageformats
[DEP] qt5svg
[DEP] qt5tools
[DEP] qt5virtualkeyboard
[DEP] qt5wayland
[DEP] sed
[DEP] tar
[DEP] xz
